@import '_shared';

.header__content {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  min-height: 140px;

  @media (min-width: 920px) {
    height: 280px;
  }
}
.header__content h1 {
  width: 80%;
  margin: 0 auto;
  font-size: 3rem;
  font-weight: 900;
  line-height: 3rem;
  text-align: center;

  @media (min-width: 920px) {
    font-size: 6rem;
  }
}
.header__content h1 span {
  color: $primary-color;
}
.header__content img {
  position: absolute;
  bottom: 0;
  left: calc(50% - 61.5px);
  z-index: -1;

  @media (min-width: 920px) {
    width: 220px;
    left: calc(50% - 110px);
  }
}
