// Colors
$primary-color: #66B952;
$title-color: #202329;
$bg-main: #24282F;
$bg-btn-search: #30343C;
$bg-card-character: #3C3E44;
$text-dimension: #71A6AD;

// Fonts
$font: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';

