.episodes-title {
  margin-bottom: 24px;
  font-size: 2.8rem;
  text-align: center;
  color: white;
}
.cards-episodes-container {
  max-width: 750px;
  margin: 0 auto;
  display: grid;
  gap: 16px;
}
